.full-view {
  height: 100%;
  width: 100%; }

.chart {
  min-height: 300px; }

.axis {
  font: 12px sans-serif; }
  @media only screen and (max-width: 599px) {
    .axis {
      font-size: 10px; } }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

.line {
  fill: none;
  stroke: orange;
  stroke-width: 1.5px;
  shape-rendering: crispEdges; }

.line-dot {
  fill: orange; }

.line-dot-selected {
  opacity: 0.8; }

.bar-rect {
  fill: steelblue; }

.bar-rect-selected {
  opacity: 0.8; }

.tick line {
  opacity: 0.1; }

.d3-tooltip {
  padding: 5px;
  margin: 5px;
  max-width: 200px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: white;
  font-size: 12px;
  position: absolute;
  z-index: 20; }
